* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v16/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: slateblue ;
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    height: 100vh;
    width:100% ;
    margin: 0;
    display: block;
}
h3{
    text-align: center;
}
#message{
    color:black;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
    display: block;
}
#main{

    width: 100%;
    display: flex;
    justify-content:inline-block;
    
}

#playfield{
    border: 5px solid purple;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 0;
    display: block;

}

#info{
    border: 5px solid purple;
    margin-top: 50px;
    margin-left: -5px;
    padding-right: 0;
    margin-top: 50px;
    margin-right: auto;
    background-color: white;
    height: 730px;
    width: 250px;
    //border: 2px solid black;
}

#next{

    margin: 20px 65px;
}

#next-block{
    
    margin: 20px 0 0 0;
}
.debug{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
}


#author{
    position:relative;
    text-align: center;
    top: 300px;
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.5;
}

.social-media{
    position:relative;
    top:320px;
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    margin: 0 auto;
}
.social-media a{
    font-size: 1.6rem;
    text-decoration: none;
    color:#2d2d2e;

}